@model IEnumerable<Blogs.Web.Models.BlogListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Add Blog", "Create", "Blog")    
}


@using (Ajax.BeginForm(
  new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "blogList"
    }))
{
    <input type="search" name="searchTerm"/>
    <input type="submit" value="Search"/>
}

@Html.Partial("_Blogs", Model)